<%- include("partials/_header") -%> <%- include("partials/_navbar") -%>

<div class="container mt-5">
  <h3>Editar Autor</h3>
  <div class="row mt-5">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/autores/edit/<%= data.idAutor %>" method="POST">
            <div class="form-group">
              <input
                type="text"
                name="NombreAutor"
                placeholder="Nombre"
                class="form-control"
                value="<%= data.NombreAutor %>"
              />
            </div>
            <div class="form-group mt-2">
              <button type="submit" class="btn btn-primary">GUARDAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") -%>
