<%- include("partials/_header") -%> <%- include("partials/_navbar") -%>

<div class="container">
  <h3 class="mt-2">Carrera</h3>
  <div class="row mt-5">
    <div class="col-md-7">
      <table id="table_id" class="display">
        <thead>
          <tr>
            <th>Carrera</th>
            <th>A単o</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% if(data) { %> <% for (var i = 0; i < data.length; i++) { %>
          <tr>
            <td><%= data[i].NombreCarrera %></td>
            <td><%= data[i].A単oCarrera %></td>
            <td>
              <a
                href="carreras/delete/<%= data[i].idCarrera%>"
                class="btn btn-danger btn-sm"
                ><i class="bi bi-trash"></i
              ></a>
              <a
                href="carreras/edit/<%= data[i].idCarrera%>"
                class="btn btn-warning btn-sm"
                ><i class="bi bi-pencil"></i
              ></a>
            </td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="carreras/add" method="POST">
            <div class="form-group">
              <input
                type="text"
                name="NombreCarrera"
                placeholder="Carrera"
                class="form-control"
              />
            </div>
            <div class="form-group mt-2">
              <input
                type="text"
                name="A単oCarrera"
                placeholder="A単o"
                class="form-control"
              />
            </div>
            <div class="form-group mt-2">
              <button type="submit" class="btn btn-primary">GUARDAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") -%>
